/*
---
name: Icons
category: Components
---

Size
```size-types.html
<i class="icon twitter small"></i>
<i class="icon twitter"></i>
<i class="icon twitter large"></i>
<i class="icon twitter big"></i>
<i class="icon twitter huge"></i>
```

All icons available
```list-types.html hidden
<div class="grid">
	{{#each codepoints}}
	<div class="column center aligned">
		<div class="segments compact flat">
			<div class="segment">
				<i class="icon {{#dotreplace}}{{@key}}{{/dotreplace}}"></i>
			</div>
			<div class="segment secondary">
				<pre
					contenteditable="true">&lt;i class="icon {{#dotreplace}}{{@key}}{{/dotreplace}}"&gt;&lt;/i&gt;</pre>
			</div>
		</div>
	</div>
	{{/each}}
</div>
```
*/
@font-face {
font-family: "{{fontName}}";
src: {{{src}}};
}

i{{baseSelector}},
ul{{baseSelector}} > li::before,
ul > li{{baseSelector}}::before {
display: inline-block;
line-height: 1;
font-size: 1.5em;
height: 1em;
width: 1em;
text-align: center;
vertical-align: middle;
speak: none;
backface-visibility: hidden;
}

i{{baseSelector}}::before,
ul{{baseSelector}} > li::before,
ul > li{{baseSelector}}::before {
font-family: {{fontName}} !important;
font-style: normal;
font-weight: normal !important;
text-rendering: auto;
-webkit-font-smoothing: antialiased;
}

ul{{baseSelector}} > li::before,
ul > li{{baseSelector}}::before {
margin-right: .5em;
vertical-align: text-top;
}

{{#each codepoints}}
i.{{../classPrefix}}.{{@key}}::before,
ul.{{../classPrefix}}.{{@key}} > li::before,
ul > li.{{../classPrefix}}.{{@key}}::before {
content: "\\{{this}}";
}
{{/each}}
